*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
header{
    text-align: center;
    margin-top:20px;
    background-color: white;
}
.input-tags{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
    padding:20px;
}
input{
    margin:20px;
    padding:20px;
    border:none;
    border-bottom:1px solid #000000;
}
input[type=submit]{
    background-color: blue;
    color:white;
    margin:30%;
}
.form-design{
    margin:10px 30px;
    align-items: center;
    width:50%;
    margin-left:25%;
}
.nav-bar{
    margin-top:20px;
    padding:20px;
    display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
}
img{
    border-radius: 50px;
}
input:focus{
    outline:none;
}