* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 4px;
}
.grid-container img {
  width: 300px;
  height: 400px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: whitesmoke;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  margin: auto;
  border: 1px solid rebeccapurple;
  height: 10vh;
  background-color: rebeccapurple;
}
.header .nav-bar1 {
  display: flex;
  flex-direction: flex-start;
  color: white;
}
.header .nav-bar1 p {
  padding: 20px;
}
.header .nav-bar2 {
  display: flex;
  justify-content: flex-end;
}
.header .nav-bar2 button {
  margin-right: 10px;
  width: 60px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.heading{
    color:white;
}

@media (min-width: 400px) and (max-width: 600px) {
  .grid-container {
    grid-template-columns: auto;
    justify-content: center;
  }
  .grid-container img {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 600px) and (max-width: 1150px) {
  .grid-container {
    grid-template-columns: auto auto;
    justify-content: center;
  }
  .grid-container img {
    width: 300px;
    height: 400px;
  }
}
