.header{
    height: 77px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.right-nav{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.left-nav{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}